@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--bg-color: hsl(0, 0%, 16%);

	--primary-color: hsl(318, 35%, 35%);
	--secondary-color: hsl(318, 35%, 30%);
	--accent-color: hsl(319, 35%, 50%);

	--text-color: hsl(0, 0%, 90%);
	--text-color-less: hsl(0, 0%, 60%);

	background-color: var(--bg-color);

	box-sizing: border-box;
	color: var(--text-color);
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
}

body {
	margin: 10px;
	padding: 0;
}
